@import '/css/normalize.css';
@import '/css/colors.css';
@import '/css/typography.css';
@import '/css/footer.css';
@import '/css/objects.css';

.background {
  background-color: black;
}

.title-view {
  background-color: var(--dark-blue);
}

.space {
  background-image: linear-gradient(var(--dark-blue), black);
  padding: 5%;
}