/*General Homepage*/
html {
    scroll-behavior: smooth;
}

.background {
    background-image: linear-gradient(var(--dark-blue), black);
}

.title-view {
    background-color: var(--dark-blue);
}

.wrapper {
    padding: 10%;
}

.end {
    min-height: 60vh;
}

/*Title "slide"*/
.title-view {
    min-height: 100vh;
    width: 30vw;
    margin: auto;
    padding-top: 10vh;
    /*vertically center align??????*/
}

/*Light year definition*/
.ly-def {
    min-height: 100vh;
}

/*About*/
.wrapper--about {
    padding: 2% 10%;
}